body {
    height: 100%;
    background-image: url(https://pre00.deviantart.net/7bf2/th/pre/f/2007/052/e/7/palm_tree_dreams_by_kandiart.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: auto;
}

nav {
    width: 100%;
    height: 50px;
    margin: 20px 0 0 0;
    background-color:  rgba(60, 143, 211, 0.699);
    display: block;
    border-top: 8px solid silver;
    border-bottom: 8px solid silver;
    
}

.boxnav {
    width: 30%;
    height: 30px;
    border-right: black 2px solid;
    margin-top: 10px;
    float: left;
    text-align: center;
    
}

.navleft {
    font-size: 30px;
    opacity: .8;
    margin: 0 auto;
    font-family: 'Comfortaa', cursive;
    color: lightcoral;
}

.soundcloud {
    text-decoration: none;
    color: black;
    font-family: 'Comfortaa', cursive;
    font-size: 25px;
    font-weight: bolder;
    -webkit-transition: color 1s;
    transition: color 1s; 
}

.soundcloud:hover {
    color: gold;
}

.soundcloudicon {
    width: 30px;
    height: 30px;
    margin-left: 15px;
    border: 1px solid black;
    border-radius: 10%;
}

.contacticons {
    height: 30px;
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 10%;
}

.hoverlinks {
    -o-transition: color, ease-in, .5s;
    -ms-transition: color, ease-in, .5s;
    -moz-transition: color, ease-in, .5s;
    -webkit-transition: color, ease-in, .5s;
    transition: color, ease-in, .5s;
    height: 2px;
}

.hoverlinks:hover {
    border-top: pink solid;
}

.main {
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: rgba(60, 143, 211, 0.397);
    position: relative;
}

.leftsection {
    width: 300px;
    height: 75%;
    float: left;
}

.boxesleftsection {
    height: 100px;
    width: 99.5%;
    border: 2px solid black;
    margin-top: 10px;
    
}

.boxesleftsection1 {
    height: 100px;
    width: 99.5%;
    border: 2px solid black;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/94/Wiz_Khalifa_in_Under_The_Influence_Tour.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 20%;
    position: relative;
    text-align: center;
    opacity: .8;

}

.boxesleftsection2 {
    height: 100px;
    width: 99.5%;
    border: 2px solid black;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIu7eV549yWX6OqnKVRchsOVpYVVnYiK0sJLvHok7xgIG1hU2k  ) ;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 20%;
    position: relative;
    text-align: center;
    opacity: .8;
    margin-top: 10px;
}

.boxesleftsection3 {
    height: 100px;
    width: 99.5%;
    border: 2px solid black;
    background-image: url(https://i.ytimg.com/vi/qxc3Fnw3b1s/maxresdefault.jpg) ;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 20%;
    position: relative;
    text-align: center;
    opacity: .8;
    margin-top: 10px;
}

.bottomsection {
    bottom: 0;
    border: 2px solid black;
    width: 99.5%;
    height: 22%;
    position: absolute;
}

.rightbanner {
    width: 685px;
    height: 75%;
    position: absolute;
    right: 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: auto;
    background-position-y: 20%;
    opacity: .7;
    text-align: left;
}

.bannertext {
    position: absolute;
    bottom: 0;
    font-family:  'Comfortaa', cursive;
    font-size: 40px;
    margin-left: 20px;
    border-top: 3px solid black;
    padding: 4px;
}

.player {
    float: right;
    border: 4px groove rgba(192, 134, 26, 0.747);
    padding: 15px;
    background-color: orangered;

}

.titlebox {
    font-family: 'Sunflower', sans-serif;
    color: white;
    font-size: 30px;
}

.nounderline {
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}

.downloadbutton {
    width: 120px;
    height: 30px;
    background-color: lightgreen;
    color: black;
    font-family: 'Comfortaa', cursive;
    border: black 1px solid;
    border-radius: 3%;
    position: absolute;
    bottom: 0px;
}

.downloadbutton:hover {
    color: blue;
}


.playbutton {
    width: 120px;
    height: 30px;
    background-color: lightgreen;
    color: black;
    font-family: 'Comfortaa', cursive;
    border: black 1px solid;
    border-radius: 3%;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.playbutton:hover {
    color: blue;
    text-decoration: underline;
}

